/* Navigation Section */
.navigation {
    background-color: #ededed;
    border-bottom: 3px solid #d8b778;
    width: 100%;
}

.navigation__list {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.navigation__left,
.navigation__right {
    display: flex;
}

.navigation__item {
    width: 15rem;
}

.navigation__item a {
    cursor: pointer;
    display: block;
    width: 15rem;
    padding: 3.6rem 2.5rem;
    border-bottom: 3px solid transparent;
    color: #000;
    text-decoration: none;
    /* transition: padding 0.2s; */
}

.navigation a:hover {
    border-bottom: 3px solid #2e3113;
    background-color: #f0cf95;
    padding: 3.6rem 2.5rem;
}

.navigation__list img {
    margin: 0 auto;
    height: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
}

.hero__text {
    padding-right: 10rem;
    text-align: center;
}

.hero__text--header {
    color: #dcb60e;
}

.hero__text--message {
    color: #000;
    padding: 0 4rem;
}

.hero__image {
    width: 60rem;
}

/* infomation section */
.info {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.serviceBox {
    color: #000;
    background: #d8b778;
    background: #d8b778;
    text-align: center;
    padding: 2.5rem 2.5rem 2.5rem;
    border-radius: 3.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
