<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Shortcut Icon -->
    <link rel="shortcut icon" type="image/png" href="../../assets/icons/logo.svg" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('global-static', path='/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/global-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/queries.css') }}" />

    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('main-static', path='/style.css') }}" />

    <!-- PyScript -->
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>

    <title>GoldLotus</title>
</head>

<body>
    <!-- Loader Section -->

    {% include "global-component/loader.html" %}

    <!-- Navigation Section -->

    {% include "global-component/navbar.html" %}

    <div class="gradient-bgup">
        <div class="container">
            <section class="show_blog">
                <div class="text_">
                    <h2>Notifications</h2>
                </div>
                <div id="notifications"></div>
                <a id="delete_all">Delete All</a>
            </section>
        </div>
    </div>

    <!-- Footer Section -->

    {% include "global-component/footer.html" %}

    <!-- Global PyScript -->
    <script type="py" src="{{ url_for('global-static', path='/pyscript.py') }}"></script>

    <!-- Local Pyscript-->
    <script type="py" src="{{ url_for('notification-static', path='/pyscript.py') }}"></script>

    <script src="https://kit.fontawesome.com/1c7eef805a.js" crossorigin="anonymous"></script>
</body>

</html>