/* Sign In Section */
.back_to_home .icon {
    margin-right: 1.2rem;
}

.back_to_home a {
    color: #000;
    text-decoration: none;
}

.signin {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin__image img {
    width: 60rem;
}

.signin__input {
    padding: 8rem;
    width: 100%;
    height: 52rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 4rem 1rem rgb(0, 0, 0, 0.05);
}

.signin__form {
    display: flex;
    flex-direction: column;
}

.signin__form label {
    margin-bottom: 1.2rem;
}

.signin__form input {
    outline: none;
    border: 0.1rem solid #616161;
    border-radius: 0.5rem;
    margin-bottom: 1.6rem;
    padding: 1.2rem;
}

.signin__form--forgetpassword {
    font-size: 1.4rem;
    text-align: right;
}

.signin__form--forgetpassword a {
    color: #616161;
    text-decoration: none;
}

.signin__form button {
    margin: 0 auto;
    margin-top: 4rem;
    width: 24rem;
    background-color: #f0cf95;
}

.signin__form--register {
    color: #616161;
    margin-top: 2.6rem;
    font-size: 1.4rem;
    text-align: center;
}

.signin__form--register a {
    color: #c7a200;
}
