.userinfo {
    margin-top: 8rem;
}

.userinfo__info--header,
.userinfo__blog--header,
.userinfo__event--header {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.userinfo__user--header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.userinfo__user--id {
    color: #666666;
    font-size: 1.4rem;
}

.userinfo__user--name {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 500;
}

.userinfo--img {
    width: 15rem;
}
