<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทสวดแผ่เมตตาให้สรรพสัตว์</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('global-static', path='/prayers.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/global-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/queries.css') }}" />
</head>

{% include "global-component/navbar.html" %}

<body>
    <div class="block">
        <div class="spine"></div>
        <div class="box">
            <div class="box__header">
                <div>บทสวดแผ่เมตตาให้สรรพสัตว์</div>
            </div>
            <div class="box__body">
                <div id="line1">
                    สัพเพ สัตตา อะเวรา โหนตุ
                    อัพพะยาปัชฌา โหนตุ
                    อะนีฆา โหนตุ
                    สุขี อัตตานัง ปะริหะรันตุ
                </div>
                <div id="line2">
                    สัตว์ทั้งหลายทั้งปวง ที่เป็นเพื่อนทุกข์ เกิด แก่ เจ็บ ตาย ด้วยกันทั้งสิ้น
                    จงเป็นสุขเป็นสุขเถิด อย่าได้มีเวรแก่กันและกันเลย
                    จงเป็นสุขเป็นสุขเถิด อย่าได้เบียดเบียนซึ่งกันและกันเลย
                    จงเป็นสุขเป็นสุขเถิด อย่าได้มีความทุกข์กายทุกข์ใจเลย
                    จงมีความสุขกาย สุขใจ รักษาตนให้พ้นจากทุกข์ภัยทั้งสิ้นเทอญ
                </div>
            </div>
        </div>
        <audio id="myAudio" controls class="tab_audio">
            <source src="{{ url_for('prayers-static', path='/04/04.mp3') }}" type="audio/mpeg">
        </audio>
    </div>
    {% include "global-component/footer.html" %}
    <script type="py" src="{{ url_for('prayers-static', path='/04/pyscript.py') }}"></script>
</body>

</html>