/* Blog pagination section */
.blog__pagination {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    margin-top: 8rem;
}

.blog__pagination--element,
.blog__pagination--element :link,
.blog__pagination--element :visited {
    display: inline-block;
    background-color: #d8b778;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    transition: all 0.3s;
}

/* Blog Section */
/* Author */
#blog__post--create {
    margin-bottom: 6rem;
}

.blog__create-post--header {
    font-weight: 500;
}

.blog__create-post--title {
    background: transparent;
    border: 0;
    outline: none;
    color: #000;
    font-size: 2rem;
}

.blog__create-post--message {
    resize: none;
    margin: 0.6rem 0;
    background: transparent;
    border: 0;
    outline: none;
    color: #000;
    font-size: 1.6rem;
}

.blog__create-post--field {
    padding: 2rem 0;
}

.blog__assets--media-btn-box {
    display: flex;
    align-items: center;
}

.blog__assets--ar-media-btn,
.blog__assets--ar-media-btn :link,
.blog__assets--ar-media-btn :visited {
    display: inline-block;
    background-color: #fff;
    color: #4190c9;
    text-decoration: none;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
}

#remove-media-btn {
    display: none;
}

.blog__create-post--assets {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 1.6rem;
    margin-top: 2rem;
    padding: 4rem;
}

.blog__create-post--assets-header h1 {
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.blog__create-post--assets-header p {
    margin: 0.5rem;
    font-size: 1.2rem;
}

.blog__create-post--assets-draganddrop {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    border: 0.1rem dashed;
    background-image: linear-gradient(180deg, #fff, #eaeaea);
    position: relative;
    border-radius: 1.2rem;
    margin-top: 2.6rem;
}

.blog__create-post--assets-draganddrop div.col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transform: scale(1);
    width: 25rem;
    margin: auto;
}

.blog__create-post--assets-draganddrop div.col:last-child {
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    pointer-events: none;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    margin: auto;
    width: 100%;
    height: 5.5rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.2s;
}

.drag-over-effect div.col:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
}

.drag-over-effect div.col:last-child {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.blog__create-post--assets-draganddrop .cloud-icon {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.blog__create-post--assets-draganddrop span,
.blog__create-post--assets-draganddrop button {
    display: block;
    margin-bottom: 1rem;
}

.blog__create-post--assets-draganddrop button {
    width: 15rem;
    background-color: #d8b778;
    color: #000;
    border: none;
    outline: none;
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.blog__create-post--assets-draganddrop input {
    display: none;
}

.blog__create-post--assets-list {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2.6rem;
}

.assets-list-title {
    margin-bottom: 1.6rem;
}

.assets-list {
    width: 55rem;
    padding: 0 8rem;
}

.assets-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 4rem;
    border-radius: 2rem;
    transition: 0.2s;
}

.assets-element:hover {
    box-shadow: 0 0 4rem 1rem rgb(0, 0, 0, 0.08);
}

.col1,
.col2 {
    display: flex;
    align-items: center;
}

.blog__create-post--assets-list .fa-file {
    font-size: 2.4rem;
    margin-right: 2rem;
}

.blog__create-post--assets-list .file-name {
    max-width: 20rem;
    font-size: 1.2rem;
}

.blog__create-post--assets-list .file-size {
    font-size: 1.2rem;
    margin-right: 1.4rem;
}

.blog__create-post--assets-list .fa-xmark {
    cursor: pointer;
    color: #fff;
    background-color: #616161;
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    font-size: 1.8rem;
}

.blog__create-post--btn,
.blog__create-post--btn :link,
.blog__create-post--btn :visited {
    display: inline-block;
    background-color: #fff;
    color: #4190c9;
    text-decoration: none;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
}

/* Viewer */
.blog {
    display: grid;
    padding: 4rem 0;
    grid-template-columns: 2.2fr 1fr;
    gap: 8rem;
}

/* Post Search */
.blog__search {
    background-color: #eaeaea;
    border-radius: 4rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.blog__search input {
    width: 18rem;
    margin-right: 1.2rem;
    background: transparent;
    border: 0;
    outline: 0;
    color: #000;
}

.blog__search a {
    color: #000;
}

/* Post Section */
.blog__post--box {
    display: flex;
    flex-direction: column;
}

.blog__post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 100%;
    box-shadow: 0 0.3rem 0.5rem 0.2rem rgb(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.blog__post-guest {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.blog__post-guest--btn a:link,
.blog__post-guest--btn a:visited {
    background-color: #d8b778;
    color: white;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
}

.blog__post--header {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.blog__post--username {
    font-weight: 500;
}

.blog__post--username:hover {
    cursor: pointer;
    color: #dcb60e;
}

.blog__post--posted {
    color: #929292;
}

.blog__post--timestamp {
    color: #929292;
}

.blog__post--field {
    padding: 2rem 0;
}

.blog__post--title {
    margin-bottom: 1.2rem;
}

.blog__post--message p {
    font-size: 1.8rem;
}

.blog__post--assets {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.blog__post--assets img {
    width: 30rem;
    object-fit: contain;
}

.blog__post--footer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    color: #929292;
}

.blog__post--footer i {
    margin-right: 0.6rem;
}

.blog__post--footer i:hover {
    cursor: pointer;
    color: #dcb60e;
}

/* Communities Section */
.blog__communities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36rem;
    padding: 2rem;
    box-shadow: 0 0.3rem 0.5rem 0.2rem rgb(0, 0, 0, 0.2);
}

.blog__communities--header {
    font-weight: 500;
}

.blog__communities--btn {
    color: #4190c9;
    text-decoration: none;
}

.blog__communities--people {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__communities--people:not(:last-child) {
    margin-bottom: 1.6rem;
}

.blog__communities--name {
    margin-bottom: 0.4rem;
}

.blog__communities--follower {
    color: #616161;
}

.blog__communities--follow-btn a {
    text-decoration: none;
    background-color: #d9d9d9;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #000;
}

/* Read more btn */
.blog__readmore-btn {
    align-self: center;
    margin-top: 4rem;
    padding-bottom: 8rem;
}

.blog__readmore-btn a {
    padding: 1rem 2rem;
    border-radius: 4rem;
    text-decoration: none;
    color: #000;
    border: 0.2rem solid #000;
}
