<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทกล่าวถวายผ้าไตร</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('global-static', path='/prayers.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/global-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/queries.css') }}" />
</head>

{% include "global-component/navbar.html" %}

<body>
    <div class="block">
        <div class="spine"></div>
        <div class="box">
            <div class="box__header">
                <div>บทกล่าวถวายผ้าไตร</div>
            </div>
            <div class="box__body">
                <div id="line1">
                    อิมานิ มะยัง ภันเต
                    ติจีวะรานิ สะปะริวารานิ
                    ภิกขุสังฆัสสะ โอโณชะยามะ
                    สาธุ โน ภันเต ภิกขุสังโฆ
                </div>
                <div id="line2">
                    อิมานิ ติจีวะรานิ สะปะริวารานิ
                    ปะฏิคคันหาตุ อัมหากัง
                    ทีฆะรัตตัง หิตายะ สุขายะ
                </div>
                <div id="line3">
                    ข้าแต่พระสงฆ์ผู้เจริญ ข้าพเจ้าทั้งหลาย ขอน้อมถวายผ้าไตรจีวรกับทั้งบริวารเหล่านี้ แด่พระภิกษุสงฆ์
                    ขอพระภิกษุสงฆ์ จงรับผ้าไตรจีวรกับทั้งบริวารเหล่านี้ ของข้าพเจ้าทั้งหลาย
                    เพื่อประโยชน์สุขแก่ข้าพเจ้าทั้งหลายสิ้นกาลนานเทอญ
                </div>
            </div>
        </div>
        <audio id="myAudio" controls class="tab_audio">
            <source src="{{ url_for('prayers-static', path='/09/09.mp3') }}" type="audio/mpeg">
        </audio>
    </div>
    {% include "global-component/footer.html" %}
    <script type="py" src="{{ url_for('prayers-static', path='/09/pyscript.py') }}"></script>
</body>

</html>