<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บทกล่าวถวายผ้าป่า</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('global-static', path='/prayers.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/global-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('global-static', path='/queries.css') }}" />
</head>

{% include "global-component/navbar.html" %}

<body>
    <div class="block">
        <div class="spine"></div>
        <div class="box">
            <div class="box__header">
                <div>บทกล่าวถวายผ้าป่า</div>
            </div>
            <div class="box__body">
                <div id="line1">
                    อิมานิ มะยัง ภันเต ปังสุกูละจีวะรานิ สะปะริวารานิ
                    ภิกขุสังฆัสสะ โอโณชะยามะ สาธุโน ภันเต ภิกขุสังโฆ
                </div>
                <div id="line2">
                    อิมานิ ปังสุกูละจีวะรานิ สะปะริวารานิ ปะฏิคคัณหาตุ
                    อัมหากัง ทีฆารัตตัง หิตายะ สุขายะ
                </div>
                <div id="line3">
                    ข้าแต่พระสงฆ์ผู้เจริญ ข้าพเจ้าทั้งหลายขอน้อมถวายผ้าบังสุกุล จีวร กับทั้งบริวารเหล่านี้
                    แก่พระภิษุสงฆ์ ขอพระภิษุสงฆ์จงรับผ้าบังสุกุล จีวร กับทั้งบริวารเหล่านี้ของข้าพเจ้าทั้งหลาย
                    เพื่อประโยชน์และความสุขแก่ข้าพเจ้าทั้งหลายสิ้นกาลนานเทอญ
                </div>
            </div>
        </div>
        <audio id="myAudio" controls class="tab_audio">
            <source src="{{ url_for('prayers-static', path='/12/12.mp3') }}" type="audio/mpeg">
        </audio>
    </div>
    {% include "global-component/footer.html" %}
    <script type="py" src="{{ url_for('prayers-static', path='/12/pyscript.py') }}"></script>
</body>

</html>